.mapcontainer h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    /* or 31px */

    text-align: left;
    margin-left: 5vw;
    color: #1DA0A8;
}

.form-container{
    margin-left: 5vw;
    display: flex;
    gap: 1vw;
}

.form-container label{
    margin-right: 1vw;
}

.form-container input{
    background: #F2F2F2;
    border-radius: 30px;
}

.search_icon{
    margin-right: 1vw;
}
/*open street map style*/
.leaflet-container{
    width: 100%;
    height: 80vh;
    margin-top: 2%;
}
