.mapcontainer h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    /* or 31px */

    text-align: left;
    margin-left: 5vw;
    color: #1DA0A8;
}

.search{
    margin-left: 5vw;
    display: flex;
    gap: 5vw;
}

.search label{
    margin-right: 1vw;
}

.search input{
    background: #F2F2F2;
    border-radius: 30px;
}

.search_icon{
    margin-right: 1vw;
}